[AWS]
key = 
secret = 
region = us-east-1

[DWH]
dwh_cluster_type = multi-node
dwh_num_nodes = 4
dwh_node_type = dc2.large
dwh_cluster_identifier = dwhCluster
dwh_db = dwh
dwh_db_user = dwhuser
dwh_db_password = Passw0rd
dwh_port = 5439
dwh_iam_role_name = dwhRole

[CLUSTER]
host = dwhcluster.cg9qppkbszli.us-west-2.redshift.amazonaws.com
db_name = dwh
db_user = dwhuser
db_password = Passw0rd
db_port = 5439

[IAM_ROLE]
arn = arn:aws:iam::010438509174:role/dwhRole

[S3]
LOG_DATA='s3://udacity-dend/log_data'
LOG_JSON_PATH='s3://udacity-dend/log_json_path.json'
SONG_DATA='s3://udacity-dend/song_data'

